
if SHIELD_MOUNTAIN_BREEZE_LEFT

config ZMK_KEYBOARD_NAME
	default "Mountain Breeze"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_MOUNTAIN_BREEZE_LEFT || SHIELD_MOUNTAIN_BREEZE_RIGHT

config ZMK_SPLIT
	default y

config ZMK_DISPLAY
	default y
 
endif

